@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Shadows+Into+Light&display=swap');

body {
	 font-family: 'Oswald', sans-serif;
	 background: url(https://avatars.mds.yandex.net/get-marketpic/1102538/market_-EC9fLS2DEQN-3jwQQGVmw/orig);
	 padding: 100px 0;
}
.h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.conteiner{
	width: 800px;
	min-height: 1200px;
	border: 10px solid #fff;
	margin: 0 auto;
	background: #fff;
}

.header {
display: flex;
height: 150px;
}

.title-block {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 100%;
	font-size: 30px;
	background: url(https://cyware-ent.s3.amazonaws.com/image_bank/shutterstock_580066441.jpg) no-repeat center center / cover;
	color: #fff;
	margin-right: 10px;
}

.title-block::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: 000;
	opacity: 0,5;
}

.title {
	position: relative;
	z-index: 1;
}

.userpic {
	display: flex;
	height: 100%;
	width: 20%;
	background: url(https://yt3.ggpht.com/a/AATXAJxaSiNO0R5mfjaQEfZ3vaifvyuSr0MvHG0Mdg=s900-c-k-c0xffffffff-no-rj-mo)no-repeat center center / cover;
}

.nav ul {
display: flex;
background: rgb(230, 230, 230);
margin: 10px 0;
}

.nav li a {
	display: flex;
	padding: 20px;
	text-decoration: none;
	color: #404040;
	font-weigh: bold;
	border-right: 1px solid #d1d1d1;
	transition: background 1s ease;
}

.nav li a:hover {
	background: rgb(196, 196, 196);
}

.content-wrapper {
	display: flex;
}

.content {
	width: 90%;
	padding: 20px;
}

.sidebar {
	padding: 20px;
    width: 30%;
}

.skills li {
	margin: 20px 0;
	transition: transform .5s ease;
	cursor: pointer;
}


.skills li:hover {
transform: translateX(10px);
}